<header th:fragment="header" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand">Auta</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class= "collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a th:href="@{/cars}"
                           class="nav-link active" aria-current="page">Cars</a>
                    </li>
                    <li class="nav-item" th:if="${#authentication.getPrincipal().getAuthorities().get(0).toString() == 'USER'}">
                        <a th:href="@{/reservations/myReservations}"
                           class="nav-link active" aria-current="page">My reservations</a>
                    </li>
                    <li class="nav-item" th:if="${#authentication.getPrincipal().getAuthorities().get(0).toString() == 'USER'}">
                        <a th:href="@{/rents}"
                           class="nav-link active" aria-current="page">My rents</a>
                    </li>

                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" class="btn btn-light" value="Log out"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>